.fieldCorrect {
    -fx-background-color: greenyellow;
}
.fieldIncorrect {
    -fx-background-color: lightpink;
}

#tbAddOwner {
    -fx-graphic: url("/icons/add.png");
}

#tbRemoveOwner {
    -fx-graphic: url("/icons/delete.png");
}

#tbEditOwner {
    -fx-graphic: url("/icons/edit.png");
}

#tbAddVehicle {
    -fx-graphic: url("/icons/add.png");
}

#tbRemoveVehicle {
    -fx-graphic: url("/icons/delete.png");
}

#tbEditVehicle {
    -fx-graphic: url("/icons/edit.png");
}